<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <appSettings>
    <!--mysql数据库连接-->
    <!--<add key="MySQL" value="Server=localhost;Data Source=127.0.0.1;User ID=root;Password=123456;DataBase=newjmfeedb;Charset=utf8;"/>-->
    <add key="MySQL" value="Server=120.237.31.12,3306;Data Source=120.237.31.12;User ID=root;Password=123456;DataBase=jmfee;Charset=utf8;"/>
    <add key="CorpID" value="wwffcc8e626d73e98f"/>
    <add key="AgentId" value="1000031"/>
    <add key="Secret" value="Q_UKccuoMvKD1Vv2jIZiq1amzgidSVqDMZw2ToOtCtE"/>
    <add key="order_load" value="select left(t1.order_date,10) order_date,t2.usr_name,t2.card_no,t2.dept_ID,t1.早餐订餐 as bra_order,t3.早餐就餐 as bra_jiu,t1.午餐订餐 as lun_order,t3.午餐就餐 as lun_jiu,t1.晚餐订餐 din_order,t3.晚餐就餐 as din_jiu from (select count(case when order_Price_Type ='早餐'  then 1 ELSE NULL end) 早餐订餐,count(case when order_Price_Type ='午餐'  then 1 ELSE NULL end) 午餐订餐,count(case when order_Price_Type ='晚餐'  then 1 ELSE NULL end) 晚餐订餐,order_Price_Type,card_no,order_date from tab_order_info) as t1,(select * from tab_user_info) as t2,(select COUNT(case when order_Price_Type ='早餐' then 1 else Null end) 早餐就餐,COUNT(case when order_Price_Type ='午餐' then 1 else Null end) 午餐就餐,COUNT(case when order_Price_Type ='晚餐' then 1 else Null end) 晚餐就餐,order_Price_Type,card_no,order_date from tab_tran_info ) as t3 WHERE t1.card_no = t2.card_no and t2.card_no =t3.card_no and t1.order_Price_type = t3.order_price_Type and left(t1.order_date,10) = left(t3.order_date,10) ORDER BY t1.order_date desc"/>
  </appSettings>
</configuration>
